/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: block;
}

header {
  padding: 10px;
  background-color: burlywood;
}

main {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img {
  max-width: calc(100% / 2);
  width: 100%;
  height: auto;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 7px 12px;
  margin-top: 20px;
  border-radius: 2px;
  transition-duration: 0.2s;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 2em;
  margin-top: 15px;
}

h3 {
  margin: 30px;
}

p {
  font-size: 1.5em;
  font-style: italic;
  padding-top: 0px;
}

form {
  width: 70%;
  margin: auto;
}

hr {
  width: 15%;
}

.questionnaire h2 {
  font-size: 1.5em;
  margin: 20px;
}

button:hover {
  background-color: black; /* Green */
  color: white;
}

button:active {
  background-color: white;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  flex: 1;
}

form .item {
  font-size: 1em;
  text-align: left;
  max-width: fit-content;
  line-height: 2em;
}

h2.intro {
  line-height: 1.5em;
}

button.intro,
button.feedback {
  font-size: 1em;
  padding: 12px 40px;
}

button.questionnaire {
  margin: 0px;
}

section.intro {
  max-width: 80%;
}

p.feedback,
p.results {
  font-size: 1.25em;
}

p.question {
  font-size: 1.15em;
}

p.results {
  padding-top: 10px;
}

span.results {
  font-size: 4em;
}

/** Media Queries **/

@media all and (min-width: 550px) {
  h1 {
    text-align: left;
  }

  .hide {
    display: block;
  }

  form .group {
    flex-direction: row;
  }

  .questionnaire h2 {
    font-size: 2em;
  }
}

@media all and (min-width: 700px) {
  h1 {
    margin: 0px;
    padding-left: 20px;
  }

  p {
    padding-top: 20px;
  }

  p.results {
    font-size: 1.5em;
  }

  h2.group {
    display: block;
  }

  form .item {
    line-height: 2em;
  }

  button.intro,
  button.feedback {
    font-size: 1.5em;
  }

  button.feedback {
    margin-top: 40px;
  }

  p.feedback {
    font-size: 1.5em;
  }

  span.results {
    font-size: 150px;
    padding: 0px 50px;
    vertical-align: sub;
  }
}
