* {
  box-sizing: border-box;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  display: block;
}

header {
  padding: 10px;
  background-color: burlywood;
}

main {
  height: calc(80%);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 7px 12px;
  margin-top: 20px;
  border-radius: 2px;
  transition-duration: 0.2s;
}

button:hover {
  background-color: black; /* Green */
  color: white;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 2em;
  margin-top: 15px;
}

p {
  font-size: 1.5em;
  font-style: italic;
  padding-top: 0px;
}

hr {
  width: 15%;
}

span {
  font-size: 4em;
  vertical-align: sub;
}

button:hover {
  background-color: black; /* Green */
  color: white;
}

button:active {
  background-color: white;
}

h2.intro {
  line-height: 1.5em;
}

button.intro, button.feedback {
  font-size: 1em;
  padding: 12px 40px;
}

section.intro {
  max-width: 80%;
}

p.feedback {
  font-size: 1.25em;
}

/** Media Queries **/

@media all and (min-width: 550px) {
  h1 {
    text-align: left;
  }
  .hide {
    display: block;
  }
}

@media all and (min-width: 700px) {
  h1 {
    margin: 0px;
    padding-left: 20px;
  }

  h2 {
    font-size: 40px;
    margin-top: 40px;
  }

  p {
    padding-top: 20px;
  }

  span {
    font-size: 150px;
    padding: 0px 50px;
  }

  button.intro, button.feedback {
    font-size: 1.5em;
  }

  button.feedback {
    margin-top: 40px;
  }

  p.feedback {
    font-size: 1.5em;
  }

  .hide {
    display: none;
  }
}
